body {
    padding: 0 ;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.top {
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    display: block;
    margin: -20px auto;
}

.title {
    width: 100%;
    height: 50px;
    background-color: aqua;
    text-align: center;
}

.books {
    display: flex;
    background-color: rgb(241, 245, 246);
}

.card {
    flex-basis: 17%;
    background-color: bisque;
    border-radius: 19px;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 12px rgb(204, 126, 126);
}

.card:hover {
    scale: 1.02;
    transition: 0.4s;
}

.cardText {
    color: rgb(47, 49, 48);
    font-family: 'Verdana';
    font-style: italic;
    font-size: large;
}

.addBookForm {
    width: 200px;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(219, 128, 128);
    margin: auto;
    border-radius: 20px;
    text-align: center;
    
}

#Title, #Author, #Pages, #Read {
    height: 25px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow:  3px 3px 6px lightsalmon;
    color: red;
}

#Read {
    margin: 10px 10px 10px 10px;
}

.readStatusBtn {
    width:150px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 20px;
}

.readStatusBtn:hover {
    scale:1.05;
    transition: 0.5s;
}


.addBookBtn {
    width: 150px;
    height: 40px;
    margin:  0 auto 20px auto;
    border-radius: 25px;
    background-color: blue;
    border: none;
    box-shadow: 5px 4px 10px lightblue;
    display: block;
    
}

.addBookBtn:hover {
    scale:1.05;
    transition: 0.6s;
}

.submitBtn, .resetBtn {
    width: 150px; 
    height: 30px;
    border-radius: 50px;
    border:none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.submitBtn {
    background-color: rgb(9, 122, 214);
    color: black;
    box-shadow: 3px 3px 6px lightblue;
}

.resetBtn {
    background-color: rgb(232, 40, 40);
    box-shadow: 3px 3px 6px rgb(223, 130, 97);
    color: rgb(0, 0, 0);
}

.submitBtn:hover, .resetBtn:hover {
    scale: 1.05;
    transition: 0.6s;
}

.removeBookBtn {
    width: 150px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border:none;
    border-radius: 20px;
    margin-bottom: 5px;
}

.removeBookBtn:hover {
    scale:1.05;
    transition: 0.6s;
}

footer {
    text-align: right;
    background-color: antiquewhite;
    font-size: 20px;
    padding: 10px;
    position: relative;
    bottom: 0px;
}